body {
    width: 950px;
    margin: auto;
}


header {
    display: flex;
    flex-direction: column;
}

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 30px;
}

.login-container p {
    border: 3px solid black;
    padding: 5px 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 5px;

}

article {
    width: 750px;
    margin: auto;
    padding: 20px;
}

article h1 {
    display: block;
    text-align: center; /* Center the text */
    font-size: 36px;
    margin: 20px 0;
}


.author {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 10px 0;
    align-items: center;
}
.icons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icons button {
    font-size: 16px;
    padding: 3px 10px;
}


article img {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

section h2 {
    font-size: 20px;
    margin-top: 20px;
}

section p {
    text-align:justify;
    margin: 20px;
}

.info {
    display: flex;
    height: auto;
    justify-content: space-around;
    border: 1px solid gray;
}

.info h3 {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    margin: 20px;
}

.footer-content {
    display: flex;
    gap: 20px;
    color: gray;
    align-items: center;
}
